---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Hola mundo tittle astro";
const my_name = "Gerardo B Zenteno M";
---

<MainLayout title="Home Page">
  <h1>{my_name}</h1>

  <p>Momento Actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-real-time">Momento actual Real:</p>

  <footer>Año: 2023</footer>
  <script>
    const footer = document.querySelector("footer") as HTMLElement;
    footer.textContent = `Año: ${new Date().getFullYear()}`;

    const actual_real_moment = new Date().toLocaleTimeString();

    const current_time_p = document.querySelector(
      "#current-real-time"
    ) as HTMLParagraphElement;
    current_time_p.innerText = `Momento actual Real: ${actual_real_moment}`;
  </script>
</MainLayout>
